footer.footer
	.case.row
		.footer__item
			.footer__title About Us
			.footer__desc 
				p Savoy 's new and expanded Chelsea location represents a truly authentic Greek patisserie, featuring breakfasts of fresh croissants and steaming bowls of café. 
				p Savoy the best restaurant in town.
		.footer__item
			.footer__title Opening Hours
			.footer__hours
				p #[strong Mon-Thu:] 7:00am-8:00pm 
				p #[strong Fri-Sun:] 7:00am-10:00pm
			.footer__payment.row 
				img(src="upload/icons/payment/mastercard.png", alt="")
				img(src="upload/icons/payment/paypal.png", alt="")
				img(src="upload/icons/payment/visa.png", alt="")
				img(src="upload/icons/payment/discover.png", alt="")
		.footer__item
			.footer__title Our Location
			.footer__address 19th Paradise Street Sitia 128 Meserole Avenue
			.footer__socials.socials.--white.row
				a.socials__item(href="")
					img(src="upload/icons/socials/tw-white.svg", alt="")
				a.socials__item(href="")
					img(src="upload/icons/socials/yt-white.svg", alt="")
				a.socials__item(href="")
					img(src="upload/icons/socials/fb-white.svg", alt="")  