header.header(style="background-image: url(upload/bg/bg-header.png)")
	.header__case.mid.row
		.header__ham#ham
				div
				div
				div
		.header__wrap.row#nav
			.header__logo
				img(src="upload/logo/logo.svg", alt="" )
			.header__nav
				ul
					li
						a(href="") Home
					li
						a(href="#about") About
					li
						a(href="#ingredients") Igredients
					li
						a(href="#menu") Menu
					li
						a(href="#reviews") Reviews
					li
						a(href="#book") Reservations
			.header__socials.socials.--yellow.row
				a.socials__item(href="")
					img(src="upload/icons/socials/tw-yellow.svg", alt="")
				a.socials__item(href="")
					img(src="upload/icons/socials/yt-yellow.svg", alt="")
				a.socials__item(href="")
					img(src="upload/icons/socials/fb-yellow.svg", alt="")