@media screen and (max-width: 1260px) {
  .case {
    width: 1140px; }
  .header__logo {
    margin-left: 40px; } }

@media screen and (max-width: 1199px) {
  .case {
    width: 960px; }
  .header__nav li {
    padding-right: 30px;
    font-size: 18px; }
  .intro__title {
    width: 930px;
    font-size: 75px; }
    .intro__title::after {
      top: 215px; }
  .about__img {
    width: 500px; }
  .menu__item {
    width: calc( 100% / 2); }
  .book__img img {
    margin-right: 0; }
    .book__img img:last-of-type {
      display: none; }
  .book__info {
    width: 470px; } }

@media screen and (max-width: 992px) {
  html.--no-scroll, body.--no-scroll {
    overflow-y: hidden; }
  .case {
    width: 100%; }
  .header {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    min-height: 1px;
    z-index: 100; }
    .header__ham {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 30px;
      margin-right: auto;
      cursor: pointer;
      position: relative;
      z-index: 10; }
      .header__ham div {
        width: 100%;
        height: 2px;
        margin-bottom: 8px;
        transition: .3s;
        position: relative;
        background-color: #fff; }
        .header__ham div:last-of-type {
          margin-bottom: 0; }
      .header__ham.--toggle div:nth-of-type(1) {
        top: 10px;
        transform: rotate(45deg); }
      .header__ham.--toggle div:nth-of-type(2) {
        opacity: 0; }
      .header__ham.--toggle div:nth-of-type(3) {
        top: -10px;
        transform: rotate(-45deg); }
    .header__wrap {
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      flex-direction: column;
      background: #000;
      overflow-y: auto;
      padding: 35px 0;
      transition: .3s;
      transform: translateX(-100%);
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
      .header__wrap.--toggle {
        transform: translateX(0%); }
    .header__logo {
      margin: 0;
      padding: 0; }
    .header__nav {
      margin-top: 70px;
      margin-bottom: 60px; }
      .header__nav ul {
        flex-direction: column;
        align-items: center; }
        .header__nav ul li {
          margin-bottom: 24px;
          font-size: 21px;
          padding-right: 0;
          margin-right: 0; }
          .header__nav ul li:last-of-type {
            margin-bottom: 0;
            margin-right: 0; }
        .header__nav ul a::before {
          display: none; }
        .header__nav ul a:hover {
          color: #cc9900; }
  .intro__title {
    font-size: 60px;
    width: 100%; }
    .intro__title::after {
      top: 182px;
      left: 34%; }
  .about__img {
    display: none; }
  .ingredients__wrap {
    margin-left: auto;
    margin-right: auto; }
  .menu__title::after {
    left: 50%;
    transform: translateX(-50%); }
  .reviews__wrap {
    width: 680px; }
  .reviews__title::after {
    left: 50%;
    transform: translateX(-50%); }
  .reviews__quote {
    width: auto; }
    .reviews__quote::before {
      left: -35px; }
  .book .case {
    flex-direction: column-reverse; }
  .book {
    padding-top: 70px; }
    .book__info {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 70px;
      position: relative;
        position-z-index: 1; }
    .book__img {
      transform: rotate(-90deg);
      display: block;
      margin-top: -350px;
      margin-bottom: 100px; }
    .book__title::after {
      left: 50%;
      transform: translateX(-50%); }
  .footer__item:nth-of-type(1) {
    display: none; } }

@media screen and (max-width: 767px) {
  .case {
    width: 100%; }
  .btn {
    width: 200px;
    height: 50px;
    font-size: 15px; }
  .intro {
    padding-bottom: 100px; }
    .intro__title {
      font-size: 45px; }
      .intro__title::after {
        display: none; }
    .intro__buttons {
      flex-direction: column; }
    .intro__btn {
      width: 60%; }
      .intro__btn.--black {
        margin-right: 0;
        margin-bottom: 20px; }
  .info__title::after {
    left: 50%;
    transform: translateX(-50%); }
  .ingredients {
    position: relative; }
    .ingredients::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .ingredients__wrap {
      background: none;
      width: 100%;
      padding: 0; }
    .ingredients__title::after {
      left: 50%;
      transform: translateX(-50%); }
    .ingredients__desc {
      width: auto;
      margin-bottom: 50px; }
    .ingredients__img {
      flex-wrap: nowrap;
      justify-content: center; }
  .menu__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
    .menu__item:nth-of-type(3) {
      margin-bottom: 70px; }
    .menu__item__title::after {
      left: 50%;
      transform: translateX(-50%); }
  .dish__price.--special::before {
    font-size: 12px;
    width: 59px;
    height: 21px; }
  .reviews {
    position: relative; }
    .reviews::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .reviews__wrap {
      background: none;
      width: 100%;
      padding: 0; }
    .reviews__title::after {
      left: 50%;
      transform: translateX(-50%); }
    .reviews__quote {
      font-size: 17px; }
      .reviews__quote::before {
        display: none; }
  .book__img {
    display: none; }
  .book__info {
    margin-bottom: 0;
    width: 100%; }
  .book__title::after {
    left: 50%;
    transform: translateX(-50%); }
  .footer__item {
    margin-bottom: 60px; }
    .footer__item:last-of-type {
      margin-bottom: 0; }
  .footer__payment img {
    margin-top: 20px; } }
